@inject HttpClient Http

@namespace Vacancy

@{
    if (SelectedVacancy == Guid.Empty)
    {
        foreach (var vacancy in vacancies)
        {
            <div class="col-4 text-center @( (vacancy.Active) ? "active" : null )">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2 class="fw-normal">@vacancy.Post</h2>
                <p>@vacancy.Wages</p>
                <p><a class="btn btn-secondary" href="vacancy/@vacancy.Id">View details &raquo;</a></p>
            </div>
        }
    }
    else
    {
        <div class="col-4 text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2 class="fw-normal">Заголовок</h2>
            <p>Подзаголовок</p>
        </div>
    }
}

@code {
    [Parameter]
    public string CountLastVacancy { get; set; }

    [Parameter]
    public Guid? SelectedVacancy { get; set; }

    private List<Vacancy> vacancies = new List<Vacancy>();

    protected override async Task OnInitializedAsync()
    {
        if (CountLastVacancy != null)
        {
            vacancies = await Http.GetFromJsonAsync<List<Vacancy>>("https://localhost:5005/api/Vacancies/last/" + CountLastVacancy);
        }
        else if (SelectedVacancy != Guid.Empty)
        {
            vacancies = await Http.GetFromJsonAsync<List<Vacancy>>("https://localhost:5005/api/Vacancies/" + SelectedVacancy.ToString());
        }
        else
        {
            vacancies = await Http.GetFromJsonAsync<List<Vacancy>>("https://localhost:5005/api/Vacancies");
        }
    }

    public class Vacancy
    {
        public Guid Id { get; set; }

        public int Wages { get; set; } // зарплата

        public string Post { get; set; } //должность

        public bool Active { get; set; }
    }
}
