@page "/"

@using Vacancy

@inject HttpClient Http

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/Agronom.jpg" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>САМАЯ ПРОСМАТРИВАЕМАЯ ПРОФЕССИЯ СЕГОДНЯ!</h1>
                    <p>Агроном - будущее нашей родины</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Узнать больше</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./img/memolog.png" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>Мемолог. ХТО эти люди?!</h1>
                    <p>Знаете, я и сам своего рода политик.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Подробнее</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./img/Sisadmin.jpg" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Уронил прод - получил "по шапке"</h1>
                    <p>Искусство кабель менеджмента</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Подробнее</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">

    <h2>Свежие вакансии</h2>
    <div class="row">
        <Vacancies CountLastVacancy="3" />
    </div>

    <hr class="featurette-divider">

    <h2>NEWS</h2>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Лето, солнце, подработка: июньская подборка вакансий с частичной занятостью.</h2>
            <p class="lead">Лето — традиционное время активной подработки. Дополнительный доход ищут студенты, школьники, сезонные рабочие. Конкуренция большая, но и предложений немало!</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="./img/Podrabotka.jpg" width="500" height="500" alt="" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Вакансии в ИТ: предложения июня с самыми высокими зарплатами</h2>
            <p class="lead">О востребованности ИТ-специалистов сегодня не говорит только ленивый! Талантливые разработчики, тестировщики, аналитики, тимлиды нужны во всех сферах — от сельского хозяйства до космоса.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="./img/programmist.jpg" width="500" height="500" alt="" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Из офиса ты можешь хотя бы уйти: плюсы и минусы фриланса
            </h2>
            <p class="lead">Не хотите работать с девяти до шести пять дней в неделю? Ехать в офис через полгорода, тратить деньги на бизнес-ланч и одежду по дресс-коду? Ваш вариант — фриланс, свободное трудовое движение! Правда, есть риск, что тогда будете работать по 12 часов в день и без выходных, но тут главное — держать себя в рамках. На самом деле «свободная работа» даёт множество возможностей для профессионального и личного роста. Наши авторы делится своими впечатлениями от шестилетнего опыта работы на фрилансе и советами, как не сдаться на «свободном» пути.</p>
        </div>
        <div class="col-md-5">
            <img src="./img/frilans.jpg" width="500" height="500" alt="" />
        </div>
    </div>

    <hr class="featurette-divider">

</div>


