@page "/vacancy/{IdVacancy:guid?}"

@using Vacancy

<div class="container">
    @{
        if (!IssetGuid)
        {
            <div class="row">
                <div class="col">
                    <h3>Все вакансии</h3>
                    <p>Все доступные вакансии!</p>
                </div>
            </div>
            <Vacancies />
        }
        else
        {
            <div class="row">
                <div class="col">
                    <h3>Вакансия "@VacancyName"</h3>
                </div>
            </div>
            <Vacancies SelectedVacancy="@IdVacancy" EventData="RenderEventDataVacancy" />
        }
    }
</div>
@code {
    [Parameter]
    public Guid IdVacancy { get; set; } = Guid.Empty;

    private string VacancyName { get; set; } = null;

    private bool IssetGuid { get; set; } = false;

    private void RenderEventDataVacancy(string Name)
    {
        VacancyName = Name;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();
        IssetGuid = (IdVacancy.ToString() != null && IdVacancy != Guid.Empty) ? true : false;
    }
}
