@page "/vacancy"

@using Vacancy

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Все вакансии</h3>
            <p>Все доступные вакансии!</p>
        </div>
    </div>
    <div class="row">
        <Vacancies />
    </div>
</div>

@code {

}
