<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">DIPLOM.FRONTEND</a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" Match="NavLinkMatch.All" aria-current="page" href="">Главная</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="vacancy">Вакансии</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="resume">Создать резюме</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="new-vacancy">Создать вакансию</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="about">О нас</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="fetchdata">Список соискателей</NavLink>
                    </li>
                </ul>
                <!-- 
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Начни поиск здесь..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
                -->
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
